## Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [11]:
import re

## Import Data

Job Description

In [2]:
with open('glassdoorjob.txt',encoding='utf8', errors='ignore') as f:
    lines = f.readlines()

In [3]:
doc=[]
i=0
text = ''
for line in lines:
    if line=='##########\n':
        doc.append(text)
        text =''
    else:
        text += line

In [4]:
job_desc_df=pd.DataFrame(doc)
job_desc_df.columns=['original']

In [12]:
company_name=[]
summary=[]
date=[]
for item in doc:
    company_name.append((re.search(r'...*\n',item)).group().rstrip('\n'))

In [13]:
job_desc_df['company']=company_name

Reviews

In [5]:
reviews1 = pd.read_csv('reviews.csv')
reviews2 = pd.read_csv('reviews_part2.csv')

In [7]:
reviews_df = pd.concat([reviews1, reviews2])

## EDA

In [48]:
reviews_df.to_csv('all_reviews.csv', index=False)
job_desc_df.to_csv('job_desc.csv', index=False)

In [14]:
job_desc_df.head()

                                            original company
0  Leidos\nDescription\nJob Description:\nAn oppo...  Leidos
1  Apple\nSummary\nPosted: May 26, 2021\nWeekly H...   Apple
2  Apple\nSummary\nPosted: Aug 17, 2021\nWeekly H...   Apple
3  Apple\nSummary\nPosted: Aug 31, 2021\nRole Num...   Apple
4  Apple\nSummary\nPosted: Jan 14, 2021\nRole Num...   Apple

In [9]:
reviews_df.head()

,Unnamed: 0,company,pros,cons
0,0,Uber,"Hours, pay, management and environment",I wouldn’t say I had any cons working at this job
1,1,Uber,Work your very own schedule,Sometimes the pay can be unbalanced
2,2,Uber,"Uber stock, good benefits, good experience","Bad commission structure, limited upside"
3,3,Uber,Decent pay for the work you do.,The customer service department doesnt take th...
4,4,Uber,Smart people\r\nLots of resources\r\nGreat com...,Fast-moving org - sometimes a little too fast ...

In [15]:
job_desc_df['company'].value_counts()

Harnham              158
Apple                147
CyberCoders           65
HiRoad                34
Valvoline             27
                    ...
Epsilon                1
Procter & Gamble       1
Sparks Group           1
Colgate-Palmolive      1
Insight Global         1
Name: company, Length: 77, dtype: int64

In [16]:
reviews_df['company'].value_counts()

Uber                           100
Udemy, Inc.                    100
Southwest Airlines Co.         100
Unity Technologies             100
Harvard University             100
                              ...
Verisk Analytics, Inc.          50
General Electric Company        40
Doma Holdings, Inc.             39
Verizon Communications Inc.     30
PayPal, Inc.                    30
Name: company, Length: 105, dtype: int64

In [38]:
unique_comp_job = list(set(job_desc_df['company']))

In [39]:
unique_comp_rev = list(set(reviews_df['company']))

In [22]:
intersection = list(unique_comp_job and unique_comp_rev)

In [49]:
mask = reviews_df['company'].isin(job_desc_df['company'])
reviews_df

0       False
1       False
2       False
3       False
4       False
        ...
5894    False
5895    False
5896    False
5897    False
5898    False
Name: company, Length: 9668, dtype: bool

In [46]:
mask = (reviews_df['company'] == 'Apple Inc.')
reviews_df[mask]

,Unnamed: 0,company,pros,cons
1610,1610,Apple Inc.,- passionate community\r\n- great perks\r\n- m...,- rigid schedule (slight flexibility)\r\n- som...
1611,1611,Apple Inc.,"We work with geniuses - in every department, ...",ZERO ZERO ZERO work/life balance. Exec...
1612,1612,Apple Inc.,"Benefits, values, environment, innovation, rew...","Low income, little vacation time,"
1613,1613,Apple Inc.,"Good working conditions, fair pay.",Large company can feel stiffling
1614,1614,Apple Inc.,- Good benefit\r\n- Chance to learns a lot,- a tight working environment
...,...,...,...,...
1695,1695,Apple Inc.,they are good people who carr,hard work needed to be successful
1696,1696,Apple Inc.,Really good pay and a nice job,Nothing is bad about it
1697,1697,Apple Inc.,- Good Money\r\n- Fantastic Learning and growth,- Your voice will hurt and looking at a screen...
1698,1698,Apple Inc.,Good pay but hard work,Nothing specific to be mentioned
1699,1699,Apple Inc.,"Amazing benefits, great company to work for","If you are looking for flexible hours , not ab..."

In [23]:
len(intersection)

105

In [24]:
counts_df = pd.DataFrame()

In [30]:
counts_df.index = intersection

In [31]:
job_counts = pd.Series(job_desc_df['company'].value_counts())
review_counts = pd.Series(reviews_df['company'].value_counts())

In [32]:
counts_df = pd.merge(job_counts, review_counts)

In [33]:
job_counts.head()

Empty DataFrame
Columns: [company]
Index: []